html {
    font-family: 'Shadows Into Light Two', cursive;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: White;
}

nav {
    position: relative;
}

nav ul>li {
    color: coral;
    font-size: 1.5rem;
    list-style: none;
    display: block;
    padding-right: 2.5rem;
    padding-top: 2rem;
    float: left;
}

nav ul li:last-child {
    float: right;
}

.overlay {
    width: 100%;
    height: 150%;
    color: #fff;
    background: DarkTurquoise;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1000;
    display: none;
}

.content {
    color: #fff;
    background: Coral;
    position: relative;
    height: auto;
    width: 600px;
    border-radius: 3px;
    top: 15%;
    margin: auto auto;
}

.content h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 2.4em;
    font-weight: 300;
    opacity: 0.8;
    background: LightSalmon;
    border-radius: 3px 3px 0 0;
}

.content>div {
    padding: 15px 40px 30px;
    margin: 0;
    font-weight: 300;
    font-size: 1.15em;
}

.content>div p {
    margin: 0;
    padding: 10px 0;
    line-height: 2em;
    text-align: justify;
}

.content>div ul {
    margin-bottom: -30px;
    padding: 0 0 30px 20px;
    text-align: left;
}

.content>div ul li {
    padding: 5px 0;
    display: block;
    list-style-type: disc;
    line-height: 1.5em;
}

.content>div ul li strong {
    text-decoration: underline;
}

.content>div a {
    font-size: 0.8em;
    background: DarkTurquoise;
    color: #fff;
    padding: 0.5em 2em;
    margin-bottom: 50px;
    border-radius: 3px;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    padding-top: 8rem;
    color: coral;
}

.search {
    width: 65%;
    height: auto;
    margin: 0 auto;
    background-color: DarkTurquoise;
    border: 3px solid Coral;
    border-radius: 20px;
    /*box-shadow: 3px 3px Coral;*/
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 4rem;
}

.allergens {
    margin: 0 auto;
    text-align: center;
}

button {
    display: inline-block;
    height: 3.5rem;
    width: 5.5rem;
    font-size: large;
    text-align: center;
    border: 3px solid Coral;
    border-radius: 20px;
}

.recipeSearch {
    height: 2.5rem;
    width: 33%;
    margin: 2rem 33%;
    font-size: medium;
}

.results {
    width: 65%;
    height: auto;
    margin: 2rem auto;
    padding-left: 1rem;
    padding-right: 1rem;
    list-style: none;
    background-color: DarkTurquoise;
    border: 3px solid Coral;
    border-radius: 20px;
    /*box-shadow: 3px 3px;*/
    display: none;
}

.title,
.ingredientHead {
    text-align: left;
}

#add-recipe {
    width: 65%;
    height: auto;
    margin: 2rem auto;
    background-color: DarkTurquoise;
    border: 3px solid Coral;
    border-radius: 20px;
    /*box-shadow: 3px 3px;*/
    display: none;
}

.addForm label {
    display: block;
    font-size: 1.25rem;
    padding: 5px;
}

input {
    display: inline-block;
    font-size: 1rem;
    border: 5px;
}

#category {
    font-size: 1.25rem;
    width: 25%;
}

#name {
    width: 50%;
    height: 5%;
}

.item {
    width: 33%;
    margin: 2px;
    display: block;
    text-align: center;
}

textarea {
    vertical-align: top;
    height: auto;
    width: 75%;
}

#add-recipe button {
    height: 2.5rem;
    width: 33%;
    margin: 2rem 33%;
    font-size: medium;
}

h5 {
    text-align:center;
    font-size: large;
    color: coral;
    text-decoration: none;
}